body {
    background-color: #f9f9fa;
    font-family:'Open-sans',sans-serif;
    font-size:17px;
    line-height:1.5em;
    margin:0px;
    padding: 0;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 1rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table,
.jsgrid .jsgrid-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

.table thead th,
.jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    font-size: .875rem;
    text-transform: uppercase
}

.table td,
.jsgrid .jsgrid-table td {
    font-size: 0.875rem;
    padding: .875rem 0.9375rem
}
.table-request {
    border-bottom: 0.1px dashed;
}

.badge {
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal
}
.search 
{
    width:500px;
    margin:auto;
}

.request_status
{
    width:250px;
    
}
.top-filter
{
    display: flex;
    justify-content: space-between;
}
#page-content
{
    height:550px ;
}
.container
{
    margin: auto;
}
/* Common class */
.primary-text
{
    color:#FF7200;
}
.primary-background
{
    color:#FF7200;
}

/* Header */
#main-header
{
    z-index: 1;
    background:#fff;
    border-bottom: 1px solid #FF7200;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


/* NAVBAR */

#navbar
{
    text-transform:uppercase;

}
#navbar li
{
    display: inline;
    padding-right: 20px;
    list-style:none;
}
#navbar a
{
    text-decoration: none;
    color:#888;
}
#navbar li.current a, #navbar a:hover
{
    color:#FF7200;
    border-bottom: 3px solid #FF7200;
    padding-bottom:3px;
}
/* SHOWCASE */
#showcase{
    background:url('https://cdn.nhanlucnganhluat.vn/uploads/images/86F99072/logo/2021-06/159623984_3090563774380252_2533018987896689291_n.jpg') no-repeat center center;
    border-bottom: 1px solid #FF7200;
    margin-bottom:30px;
}
#showcase .row
{
    height:600px;
}
#showcase h1
{
    font-size:50px;
    margin:0;
    padding-bottom:20px;

}
#showcase p
{
    color: #ccc;
    margin:0;
}
#showcase .showcase-content
{
    background:#333;
    color:#fff;
    border-radius:90px;
    padding:40px;
    opacity:0.9;
}

/* FEATURE */
#features h2
{
    font-size:35px;
    margin:0;
    padding-bottom: 20px;
    padding-top: 40px;
}

#company 
{
    background:#333;
    color:#fff;
    padding: 10px 0px;
}
#company h4
{
    text-transform: uppercase;
    margin-bottom: 0;
}
#company ul
{
    padding:0;
    list-style:none;
    line-height:2em;
}
#company input[type="text"]
{
    padding:7px;
}
#company button
{
    background:#222;
    color:#fff;
    padding:10px;
    border:0;
}
.card-items
{
    border: 1px solid #FF7200;
    margin: 65px;
    border-radius: 20px;
    
}

.card-items:hover
{
    transform: translateY(-15px);
    transition: transform .3s;
}
.button-add
{
    background:#FF7200;
}
/* FOOTER */
#main-footer 
{
    background:#FF7200;
    color:#fff;
}
.contact li{
   font-family: 'Open-sans',sans-serif;
   font-size: 0.875rem;
  
}

.custom{
    width : 150px !important;
}

/* MEDIA QUERIES */
@media(max-width:800px)
{
    #showcase h1{
        font-size:30px;

    }
}
@media(max-width:500px)
{
    #showcase .showcase-content{
        padding:40px 10px;
        
    }
}